/* style.css */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 50px 0;
}


/* Le container principal qui aligne les colonnes horizontalement */
.competences {
    display: flex;                      /* Utilisation du modèle de boîte flexbox pour aligner les éléments */
    align-items: center;                /* Centrage vertical des éléments */
    justify-content: left;              /* Centrage horizontal des éléments */
    flex-direction: row;                /* Orientation des éléments en rangée horizontale */
}

/* Le style de base pour les éléments graphiques (jauge) */
.slider {
    overflow: hidden;                   /* Cache les parties débordantes de l'élément */
    background-color: white;          /* Couleur de fond de l'élément */
    margin: 0 20px;                     /* Marges pour espacer les éléments graphiques horizontalement */
    height: 160px;                       /* Hauteur de l'élément graphique */
    width: 40px;                        /* Largeur de l'élément graphique */
    border-radius: 30px;                /* Rayon des coins pour arrondir les coins */
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 30px #fff,
        inset -5px -5px 10px rgba(0, 0, 255, 0.1),
        inset 5px 5px 10px rgba(0, 0, 0, 0.1);  /* Ombres portées et internes pour donner un effet de profondeur */
    position: relative;             /* Positionnement relatif pour positionner correctement les éléments enfants */
    --fill-level: 5; /* Juste un exemple, changez cette valeur comme vous voulez */
}

/* Le style pour le fluide à l'intérieur de l'élément graphique */
.slider::before {
    content: "";                        /* Génère un contenu vide pour créer un pseudo-élément */
    position: absolute;                 /* Positionnement absolu par rapport à l'élément graphique parent */
    /*bottom: calc(80px * (1 - var(--fill-level) / 10)); /* Positionnement vertical basé sur le niveau de remplissage */
    bottom: 0;
    left: 0;                            /* Positionnement horizontal à gauche */
    height: calc(10% + 90% * var(--fill-level) / 10); /* Hauteur du fluide */
    width: 100%; /* Largeur du fluide */
    border-radius: 30px;                /* Rayon des coins pour créer un cercle */
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 420px 0 400px var(--final-color),
        inset 0px 0px 0px rgba(0, 0, 0, 0.1);  /* Ombres internes et débordantes pour créer l'effet de fluide */
    animation: var(--animation-name) calc(2.5s * var(--fill-level) / 10) ease-in-out forwards;  /* Animation pour le mouvement du fluide */
}


/* Le conteneur pour les colonnes individuelles (éléments graphiques et titres) */
.column {
    display: flex;                      /* Utilisation du modèle de boîte flexbox pour aligner les éléments */
    flex-direction: column;             /* Orientation des éléments en colonne verticale */
    align-items: center;                /* Centrage horizontal des éléments */
    margin-top: 10px;                   /* Ajout d'une marge supérieure pour espacer les tubes des radio-boutons */
}

/* Le style pour les titres sous les éléments graphiques */
.title {
    margin-left: 4px;
    margin-top: 10px;                   /* Marge supérieure pour espacer le titre de l'élément graphique */
    text-align: center;                 /* Centrage horizontal du texte */
    white-space: nowrap;                /* Empêche le texte de passer à la ligne */
    font-family: 'Montserrat', sans-serif;
    color: #333;
    line-height: 1.6;
    font-size: 14px;
}

.gold {
    color: #D4AF37;
    font-weight: bold;
    /* text-shadow: 1px 1px 2px #000000; */
}

.silver {
    color: #C0C0C0;
    font-weight: bold;
    /* text-shadow: 2px 2px 4px #000000; */
}

.bronze {
    color: #cd7f32;
    font-weight: bold;
    /* text-shadow: 2px 2px 4px #000000; */
}

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 400px;
    font-size: 18px;
    color:#0066ff;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
    background-color: #fff;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .competences {
        flex-wrap: wrap;
    }
    .column {
        margin-bottom: 20px;
    }

    .slider::before {
        height: calc(5% + 95% * var(--fill-level) / 10); /* Hauteur du fluide */
    }
}

@media (max-width: 768px) {
    .main-container {
        padding: 20px 0;
    }

    .slider {
        height: 120px;
        width: 30px;
    }

    .title {
        font-size: 12px;
    }

    .radio-inputs {
        width: 350px;
        font-size: 16px;
    }

    .slider::before {
        height: calc(2.5% + 97.5% * var(--fill-level) / 10); /* Hauteur du fluide */
    }
}

@media (max-width: 576px) {
    .main-container {
        padding: 10px 0;
    }

    .slider {
        height: 100px;
        width: 20px;
    }

    .title {
        font-size: 10px;
    }

    .radio-inputs {
        width: 300px;
        font-size: 14px;
    }

    .slider::before {
        height: calc(1% + 99% * var(--fill-level) / 10); /* Hauteur du fluide */
    }
}
